<aside class="cabinet-nav">
  <div class="cabinet-nav__profile">
    <div class="cabinet-nav__image">
      <img src="img/p-cab-icon.png" alt="image">
      <button class="add-photo" data-btn-modal="edit-photo">
        <svg width="12" height="10">
          <use href="img/sprite/sprite.svg#photo"></use>
        </svg>
      </button>
    </div>

    <span class="cabinet-nav__profile-name">
      Олександра
    </span>
    <a href="tel:+380501234567" class="cabinet-nav__profile-phone">
      +38 050 123 45 67
    </a>
  </div>

  <!-- cabinet moblile nav -->
  <div class="select cabinet-nav__select" data-select>
    <div class="select__header">
      <input type="hidden" class="select__input input-select" name="category_search" value="1">
      <span class="select__current">
         <svg width="20" height="16">
            <use href="img/sprite/sprite.svg#noun-ticket"></use>
          </svg>
          Купони
      </span>
      <svg width='6' height='10'>
        <use href='img/sprite/sprite.svg#arrow-bottom'></use>
      </svg>
    </div>

    <div class="select__body">
      <ul class="select__list">
        <li class="select__option">
          <a href="#" data-id="1" data-type="option">
            <svg width="20" height="20">
              <use href="img/sprite/sprite.svg#folder"></use>
            </svg>
            Профіль
          </a>
        </li>
        <li class="select__option">
          <a href="#" data-id="2" data-type="option">
            <svg width="20" height="20">
              <use href="img/sprite/sprite.svg#noun-profile"></use>
            </svg>
            Мої дані
          </a>
        </li>
        <li class="select__option">
          <a href="#" data-id="3" data-type="option">
            <svg width="20" height="13">
              <use href="img/sprite/sprite.svg#card"></use>
            </svg>
            Бонуси
          </a>
        </li>
        <li class="select__option">
          <a href="#" data-id="4" data-type="option">
            <svg width="20" height="16">
              <use href="img/sprite/sprite.svg#noun-ticket"></use>
            </svg>
            Купони
          </a>
        </li>
        <li class="select__option">
          <a href="#" data-id="5" data-type="option">
            <svg width="20" height="17">
              <use href="img/sprite/sprite.svg#heart-icon"></use>
            </svg>
            Обране
          </a>
        </li>
        <li class="select__option">
          <a href="#" data-id="6" data-type="option">
            <svg width="20" height="22">
              <use href="img/sprite/sprite.svg#location-nav"></use>
            </svg>
            Адреси
          </a>
        </li>
        <li class="select__option">
          <a href="#" data-id="7" data-type="option">
            <svg width="20" height="22">
              <use href="img/sprite/sprite.svg#list"></use>
            </svg>
            Історія покупок
          </a>
        </li>
        <li class="select__option">
          <a href="#" data-id="8" data-type="option">
            <svg width="20" height="16">
              <use href="img/sprite/sprite.svg#noun-paper"></use>
            </svg>
            Правила участі Smart Bonus
          </a>
        </li>
        <li class="select__option">
          <a href="#" data-id="9" data-type="option">
            <svg width="20" height="16">
              <use href="img/sprite/sprite.svg#noun-document"></use>
            </svg>
            Політика конфіденційності
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ul class="cabinet-nav__list">
    <li class="cabinet-nav__item">
      <a href="#">
        <svg width="20" height="20">
          <use href="img/sprite/sprite.svg#folder"></use>
        </svg>
        Профіль
      </a>
    </li>
    <li class="cabinet-nav__item">
      <a href="#">
        <svg width="20" height="20">
          <use href="img/sprite/sprite.svg#noun-profile"></use>
        </svg>
        Мої дані
      </a>
    </li>
    <li class="cabinet-nav__item">
      <a href="#">
        <svg width="20" height="13">
          <use href="img/sprite/sprite.svg#card"></use>
        </svg>
        Бонуси
      </a>
    </li>
    <li class="cabinet-nav__item">
      <a href="#" class="active">
        <svg width="20" height="16">
          <use href="img/sprite/sprite.svg#noun-ticket"></use>
        </svg>
        Купони
      </a>
    </li>
    <li class="cabinet-nav__item">
      <a href="#">
        <svg width="20" height="17">
          <use href="img/sprite/sprite.svg#heart-icon"></use>
        </svg>
        Обране
      </a>
    </li>
    <li class="cabinet-nav__item">
      <a href="#">
        <svg width="20" height="22">
          <use href="img/sprite/sprite.svg#location-nav"></use>
        </svg>
        Адреси
      </a>
    </li>
    <li class="cabinet-nav__item">
      <a href="#">
        <svg width="20" height="22">
          <use href="img/sprite/sprite.svg#list"></use>
        </svg>
        Історія покупок
      </a>
    </li>
    <li class="cabinet-nav__item">
      <a href="#">
        <svg width="20" height="16">
          <use href="img/sprite/sprite.svg#noun-paper"></use>
        </svg>
        Правила участі Smart Bonus
      </a>
    </li>
    <li class="cabinet-nav__item">
      <a href="#">
        <svg width="20" height="16">
          <use href="img/sprite/sprite.svg#noun-document"></use>
        </svg>
        Політика конфіденційності
      </a>
    </li>
  </ul>
</aside>
