.card {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 5px 15px;
  border-radius: 21px;
  background: var(--gr-a);
  border: 1px solid var(--br-a);
  min-height: 100px;
  padding: 13px 22px 14px 35px;
  z-index: 1;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    width: 276px;
    z-index: -1;
    pointer-events: none;
    filter: blur(8px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='276' height='100' fill='none'%3E%3Cg filter='url(%23filter0_f_18_215)'%3E%3Ccircle cx='241.838' cy='46.778' r='46.8382' fill='%23E41020'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_18_215' width='483.676' height='483.676' x='0' y='-195.06' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_18_215' stdDeviation='97.5'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  }

  &:hover {
    .card__image {
      transform: scale(1.05);
    }
  }

  &__title {
    align-self: end;
    font-family: var(--second-family);
    font-weight: 600;
    line-height: 100%;

    @include for-mobile {
      font-size: clamp(21px, 2.7344vw, 28px);
    }

    @include mobile {
      font-size: 21px;
    }
  }

  &__text {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.02em;

    @include for-mobile {
      font-size: clamp(14px, 1.7578vw, 18px);
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__image {
    transition: all 0.2s;
    display: flex;
    grid-column: 2;
    grid-row: 1/3;

    img,
    picture {
      width: 100%;
      height: auto;
    }

    @include for-mobile {
      width: clamp(72px, 12.5vw, 128px);
      height: clamp(73px, 12.6953vw, 130px);
    }

    @include mobile {
      width: 72px;
      height: 73px;
    }
  }

  &.blue {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='276' height='100' fill='none'%3E%3Cg filter='url(%23filter0_f_19_237)'%3E%3Ccircle cx='241.838' cy='46.778' r='46.8382' fill='%236A99D1'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_19_237' width='483.676' height='483.676' x='0' y='-195.06' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_19_237' stdDeviation='97.5'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &.yellow {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='276' height='100' fill='none'%3E%3Cg filter='url(%23filter0_f_19_229)'%3E%3Ccircle cx='241.838' cy='46.778' r='46.8382' fill='%23FFD600'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_19_229' width='483.676' height='483.676' x='0' y='-195.06' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_19_229' stdDeviation='97.5'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &--mode {
    grid-gap: 2px 11px;
    grid-template-columns: auto 1fr auto;
    min-height: 90px;
    padding: 25px 18px 25px 27px;

    &::before {
      top: -5px;
      left: -5px;
      right: initial;
      transform: scaleX(-1);
    }

    .card {
      &__image {
        grid-column: 1;
        align-self: center;

        @include for-mobile {
          width: clamp(40px, 5.3711vw, 55px);
          height: clamp(40px, 5.3711vw, 55px);
        }

        @include mobile {
          width: 40px;
          height: 40px;
        }
      }

      &__title {
        font-family: var(--font-family);
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.02em;

        @include for-mobile {
          font-size: clamp(14px, 1.7578vw, 18px);
        }

        @include mobile {
          font-size: 14px;
        }
      }

      &__text {
        font-family: var(--second-family);
        font-weight: 700;
        line-height: 117%;

        @include for-mobile {
          font-size: clamp(18px, 2.1484vw, 22px);
        }

        @include mobile {
          font-size: 18px;
        }
      }
    }

    &:hover {
      .card__image {
        transform: initial;
      }
    }

    .main-btn {
      align-self: center;
      grid-column: 3;
      grid-row: 1/3;
    }
  }
}
