<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__inner">
        <div class="footer__col">
            <a href="/" class="footer-logo logo">
              <img width="123" height="29" src="img/logo.png" alt="logo">
            </a>

            <ul class="footer-social social">
              <li class="social__item">
                <a href="#" class="social__link">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#tg2'></use>
                  </svg>
                  <span class="social__top">Public</span>
                </a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#tg2'></use>
                  </svg>
                  <span class="social__top">Chat</span>
                </a>
              </li>
              <li class="social__item">
                <a href="#" class="social__link">
                  <svg width='18' height='18'>
                    <use href='img/sprite/sprite.svg#x'></use>
                  </svg>
                </a>
              </li>
            </ul>

            <span class="footer__copyright">© Mantle 2024.All rights reserved.</span>
        </div>

        <div class="footer__col">

          <nav class="footer-nav">
            <div class="footer-nav__col">
              <span class="footer-nav__title">Our products</span>
              <ul>
                <li><a href="mining.html">Cloud mining</a></li>
                <li><a href="staking.html">Crypto staking</a></li>
                <li><a href="#">Referral program</a></li>
              </ul>
      
            </div>
            <div class="footer-nav__col">
              <span class="footer-nav__title">About us</span>
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Gibook</a></li>
                <li><a href="#">FaQ</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="footer-nav__col">
              <span class="footer-nav__title">Community</span>
              <ul>
                <li><a href="#">Support</a></li>
                <li><a href="#">Telegram chat</a></li>
                <li><a href="#">Telegram channel</a></li>
                <li><a href="#">X Account</a></li>
              </ul>
            </div>
          </nav>
        </div>

        <div class="footer__col footer__col--right">
          <span class="footer-nav__title">Apps</span>

          <button class="app-btn">
            <svg width='25' height='25'>
              <use href='img/sprite/sprite.svg#andr'></use>
            </svg>
            Download for Android
          </button>
          <button class="app-btn">
            <svg width='25' height='25'>
              <use href='img/sprite/sprite.svg#ios'></use>
            </svg>
            Download for IOS
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
