<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Biflow.io">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Biflow.io</title>

  <link rel="preload" href="fonts/AllianceNo.2-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/AllianceNo.2-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/AllianceNo.2-SemiBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/AllianceNo.2-ExtraBold.woff" as="font" crossorigin="anonymous">

  <link rel="preload" href="fonts/NexaLight.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Nexa-book.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Nexa-XBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Nexa-Bold-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Nexa-Bold.woff" as="font" crossorigin="anonymous">

  <link rel="preload" href="fonts/Inter-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Nexa-Regular-Regular.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
