<header class="header fixed-block">
  <div class="container">
      <div class="header__inner">
      <a href="/" class="logo">
        <img width="142" height="27" src="img/logo.png" alt="logo">
      </a>

        <ul class="main-nav">
          <li class="main-nav__item"><a href="index.html" class="main-nav__link">Home</a></li>
          <li class="main-nav__item"><a href="mining.html" class="main-nav__link">Cloud mining</a></li>
          <li class="main-nav__item"><a href="staking.html" class="main-nav__link active">Staking</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">Docs</a></li>
        </ul>

        <div class="header__btns">
          <!-- <a class="header__btn login">
            vitalik.eth
            <img width='24' height='24' src="./img/sprite/log-out.svg" alt="">
            <span></span>
          </a> -->

          <a class="main-btn main-btn--mode login" data-btn="sign">
            Connect wallet
          </a>
        </div>
      

        <button class="burger">
          <span class="burger__line"></span>
        </button>

        <div class="mobile">
          <div class="mobile__menu">
            <div class="mobile__menu-top">
              <a class="logo" href="/">
                <img width="142" height="27" src="img/logo.png" alt="logo">
              </a>
              <div class="burger">
                <span class="burger__line"></span>
              </div>
            </div>
            	<ul class="mobile__menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="mining.html">Cloud mining</a></li>
                <li><a class="active" href="staking.html">Staking</a></li>
                <li><a href="#">Docs</a></li>
              </ul>
              <div class="mobile__menu-btns">
                <a class="header__btn">
                  Log In
                </a>
                <a class="main-btn main-btn--mode">
                  Sign up
                </a>
              </div>
          </div>
        </div>
      </div>
  </div>
</header>





