<div class="overlay fixed-block" data-overlay>
      <div class="modal login" data-popup="login">
          <div class="modal__tab" data-tabs-parrent>
            <ul class="dashboard-nav">
              <li class="dashboard-nav__item">
               <button class="dashboard-nav__btn active" type="button" data-tab="1">Login</button>
              </li>
              <li class="dashboard-nav__item">
                <button class="dashboard-nav__btn" type="button" data-tab="2">Sign Up</button>
               </li>
            </ul>
            <ul class="tabs-content">
              <li class="tabs-content__item active" data-tab-content="1">
                <form class="main-form main-form--mode">
                  <div class="main-form__field">
                    <span class="main-form__name">Login:</span>
                    <label for="login" class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#user'></use>
                        </svg>
                      </span>
                      <input type="text" name="login" id="login" placeholder="Enter your login" class="main-form__input">
                    </label>
                  </div>
    
                  <div class="main-form__field">
                    <span class="main-form__name">Password:</span>
                    <div class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#lock'></use>
                        </svg>
                      </span>
                      <input type="password" name="pass_1" id="pass_1" placeholder="Enter your password" class="main-form__input">
                      <button class="main-form__show">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#eye'></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <a href="#" class="main-form__link">Forgot password?</a>
                  <button class="main-btn main-btn--mode">Login
                  </button>
              </form>
              </li>

              <li class="tabs-content__item" data-tab-content="2">
                <form class="main-form main-form--mode">
                  <div class="main-form__field">
                    <span class="main-form__name">Login:</span>
                    <label for="login_2" class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#user'></use>
                        </svg>
                      </span>
                      <input type="text" name="login_2" id="login_2" placeholder="Enter your login" class="main-form__input">
                    </label>
                  </div>

                  <div class="main-form__field">
                    <span class="main-form__name">Email:</span>
                    <label for="email" class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#mail'></use>
                        </svg>
                      </span>
                      <input type="text" name="email" id="email" placeholder="Enter your email" class="main-form__input">
                    </label>
                  </div>
    
                  <div class="main-form__field">
                    <span class="main-form__name">Password:</span>
                    <div class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#lock'></use>
                        </svg>
                      </span>
                      <input type="password" name="pass_2" id="pass_2" placeholder="Enter your password" class="main-form__input">
                      <button class="main-form__show">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#eye'></use>
                        </svg>
                      </button>
                    </div>
                  </div>

                  <div class="main-form__field">
                    <span class="main-form__name">Password:</span>
                    <div class="main-form__label">
                      <span class="main-form__icon">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#lock'></use>
                        </svg>
                      </span>
                      <input type="password" name="pass_3" id="pass_3" placeholder="Enter your password" class="main-form__input">
                      <button class="main-form__show">
                        <svg width='24' height='24'>
                          <use href='img/sprite/sprite.svg#eye'></use>
                        </svg>
                      </button>
                    </div>
                  </div>

                  <div class="main-form__rules">
                      <label class="custom-checkbox">
                        <input checked type="checkbox" class="custom-checkbox__field">
                        <span class="custom-checkbox__content"></span>
                      </label>
                      <p>I have a read rules and <a class="main-form__rules-link">simple rulse</a></p>
                  </div>
                 
                  <button class="main-btn main-btn--mode">Login
                  </button>
              </form>
              </li>
            </ul>
          </div>
      </div>
</div>








