.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include for-mobile {
    grid-gap: clamp(10px, 1.9531vw, 20px);
  }

  @include mobile {
    grid-gap: 10px;
  }

  &__icon {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    pointer-events: none;

    @include for-mobile {
      width: clamp(24px, 2.9297vw, 30px);
      height: clamp(24px, 2.9297vw, 30px);
    }

    @include mobile {
      width: 24px;
      height: 24px;
    }
  }

  &__name {
    font-family: var(--second-family);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.02em;

    @include for-mobile {
      font-size: clamp(14px, 1.5625vw, 16px);
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__label {
    display: flex;
    position: relative;
    grid-gap: 5px;
    border-radius: 9999px;
    background: rgba(var(--bg-c), 1);
    transition: all 0.3s;
    padding: 10px 18px;

    &--mode {
      padding: 10px 18px 10px 46px;

      .main-form__input {
        font-weight: 700;
        line-height: 131%;
  
        @include for-mobile {
          font-size: clamp(16px, 1.7578vw, 18px);
        }
  
        @include mobile {
          font-size: 16px;
        }
  
        &::placeholder {
          font-weight: 700;
          line-height: 131%;
    
          @include for-mobile {
            font-size: clamp(16px, 1.7578vw, 18px);
          }
    
          @include mobile {
            font-size: 16px;
          }
        }
      }
    }

    @include for-mobile {
      height: clamp(42px, 4.6875vw, 48px);
    }

    @include mobile {
      height: 42px;
    }
  }

  &__input {
    font-family: var(--second-family);
    letter-spacing: -0.02em;
    color: rgba(var(--cl-a), 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    @include for-mobile {
      font-size: clamp(14px, 1.5625vw, 16px);
    }

    @include mobile {
      font-size: 14px;
    }

    &::placeholder {
      font-family: var(--second-family);
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: rgba(var(--cl-a), 1);

      @include for-mobile {
        font-size: clamp(14px, 1.5625vw, 16px);
      }

      @include mobile {
        font-size: 14px;
      }
    }
  }

  .main-btn{
    width: 100%;
  }

  &--mode{
    @include for-mobile {
        grid-gap: clamp(22px, 2.7344vw, 28px);
      }
    
      @include mobile {
        grid-gap: 22px;
      }
  }
}
