.mining-section{
    padding-top: 14px;
    overflow: hidden;
    padding: 14px 0 91px;
    min-height: 100dvh;
    background:rgba(var(--bg-i),1.0);

    .container{
        min-height: 100%;
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 13px;
        min-height: calc(100dvh - 105px);
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
        flex-grow: 1;
    }
}

.mining{
    // cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    position: relative;
    z-index: 3;
    // background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
   
    // &__bg{
    //     background: url('../img/mining/0025.png');
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     display: block;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     opacity: 1;
    //     z-index: 1;
    // }
   
    img,video{
        width: 100%;
        height: 100%;
      
        // z-index: 2;
        // object-fit: contain;
       
        // &::before {
        //     content: '';
        //     position: absolute;
        //     min-width: 100px;
        //     height: 100%;
        //     aspect-ratio: 1;
        //     z-index: -1;
        //     bottom: 0;
        //     left: 50%;
        //     background-position: bottom center;
        //     background-repeat: no-repeat;
        //     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='414' height='414' fill='none'%3E%3Cg filter='url(%23filter0_f_19_268)'%3E%3Ccircle cx='206.838' cy='206.838' r='46.8382' fill='%23FF0013'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_19_268' width='413.676' height='413.676' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_19_268' stdDeviation='80'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        //     pointer-events: none;
        //     transform: translate(-50%, 20%);
        //     background-size: cover;
        // }
    }
}
