.start-section{
    overflow: hidden;
    padding: 32px 0 91px;
    min-height: 100dvh;
  
    .container{
        min-height: 100%;
    }
    
    &__box{
        display: flex;
        flex-direction: column;
        min-height: calc(100dvh - 105px);

        @include for-mobile{
            grid-gap: clamp(18px, 2.5391vw, 26px);
        }

        @include mobile{
            grid-gap: 18px;
        }
    }
}