// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  // --------------- default global variables ---------------
  --error-bg: #d01f1f;
  --body-bg: #01021e;
  --body-font-size: 16px;
  --content-width: 1170px;

  --container-offset: clamp(21px, 2.0513vw, 24px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // --------------- default scroll variables ---------------
  --scrollbar-thumb: rgb(43, 52, 206);
  --scrollbar-track: #121835;
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);

  // --------------- default select variables ---------------
  --select-inner-bg: #404040;
  --select-inner-border: #FDFDFD;
  --select-focus-border: #FDFDFD;

  // --------------- default font-family variables ---------------

  --font-family: "sf-pro-display", sans-serif; // var(--font-family);
  --second-family: "gilroy", sans-serif; // var(--second-family);


  // --------------- default text color variables ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#9F99BB)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#01021e)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#1362f1)}; // rgba(var(--cl-e),1.0);

  // --------------- default background color variables ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#14172a)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#1362f1)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#ffdb1b)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#333b6e)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#2281f6)}; // rgba(var(--bg-g),1.0);
  --bg-h: #{HexToRGB(#ed1d49)}; // rgba(var(--bg-h),1.0);
  --bg-i: #{HexToRGB(#030221)}; // rgba(var(--bg-i),1.0);

  // --------------- default border color variable ---------------
  --br-a: #1e1f38; // var(--br-a);
  --br-b: #313260; // var(--br-b);
  --br-c: #1362f1; // var(--br-c);
  --br-d: #3b315d; // var(--br-d);

 // --------------- default gradient color variable ---------------
 --gr-a: linear-gradient(90deg, #1e1f38 0%, rgba(30, 31, 56, 0) 100%); // var(--gr-a);
 --gr-b: linear-gradient(180deg, #0f1024 0%, rgba(20, 25, 47, 0) 100%); // var(--gr-b);
 --gr-c: linear-gradient(180deg, #0f1024 0%, #14192f 100%); // var(--gr-c);
}       


